<template name="index">
  {{#contentFor "headerTitle"}}
    <h1 class="title">UK Outdoor Fitness</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#ionList}}

        {{#ionItem path="actionSheet" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Action Sheet
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="backdrop" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Backdrop
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="forms" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Forms
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="headersFooters" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Headers &amp; Footers
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="lists" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Lists
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="loading" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Loading
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="modal" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Modal
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="navigation" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Navigation
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="popover" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Popover
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="popup" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Popup
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="sideMenu" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Side Menu
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="slideBox" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Slide Box
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="spinner" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Spinner
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="tabs.one" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          Tabs
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

        {{#ionItem path="userAccounts" iconLeft=true iconRight=true}}
          {{> ionIcon icon="ios-checkmark" class="pink"}}
          User Accounts
          {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}

      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>
